# Sample notebook
- Query database to get dataframe

# Imports

#### Standard library imports

In [3]:
import sys
sys.path.append("../")

#### Third party imports

In [1]:
import pandas as pd

#### Local application imports

In [12]:
%load_ext autoreload
%autoreload 2

from pkg_dir.config import *
from pkg_dir.src.utils import *
from pkg_dir.src.functions import *
from pkg_dir.src.parameters import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Query

In [30]:
## Function parameters
db_crds = 'pc_db_prod'
sql_files_path = '../pkg_dir/sql/'
sql_script = 'services_list.sql'
sql_params = {
    'params': {},
    'colnames' : {}
}

In [31]:
sql_to_df(db_crds, sql_files_path, sql_script, sql_params)

,0,1,2,3,4
0,SERVICIOS,PROCEDIMIENTO,1265,23,ESCLEROTERAPIA POR SECION
1,LABORATORIOS,LABORATORIO,1266,15131,CULTIVO DE HONGOS EN PIEL
2,LABORATORIOS,REFERENCIA,1267,8008,RX DE CODO
3,LABORATORIOS,REFERENCIA,1268,8009,RX DE CODO BILATERAL
4,LABORATORIOS,REFERENCIA,1269,8039,"RX DE COLUMNA LUMBOSACRA AP, LATERAL, OBLICUAS..."
...,...,...,...,...,...
1239,LABORATORIOS,REFERENCIA,602,10029,TOMOGRAFIA A.C. DE TORAX / PULMON
1240,LABORATORIOS,REFERENCIA,603,10031,TOMOGRAFIA A.C. DE / COLUMNA LUMBAR
1241,LABORATORIOS,REFERENCIA,604,10185,TOMOGRAFIA A.C. ABDOMEN / COMPLETO SIMPLE
1242,LABORATORIOS,REFERENCIA,607,13008,RESONANCIA MAGNETICA DE COLUMNA DORSAL
1243,LABORATORIOS,LABORATORIO,625,25174,EXCLUSION DE PATERNIDAD PARA 2 PERSONAS