# Sample notebook
- Query database to get dataframe

# Imports

#### Standard library imports

In [1]:
import sys
sys.path.append("../")

#### Third party imports

In [2]:
import pandas as pd

#### Local application imports

In [3]:
%load_ext autoreload
%autoreload 2

from pkg_dir.config import *
from pkg_dir.src.utils import *
from pkg_dir.src.functions import *
from pkg_dir.src.parameters import *

# Query

In [10]:
## Function parameters
db_crds = 'pc_db_prod'
sql_files_path = '../pkg_dir/sql/'
sql_script = 'full_docs_agendas_sql.sql'
sql_params = {
    'params': {},
    'colnames' : {}
}

In [11]:
sql_to_df(db_crds, sql_files_path, sql_script, sql_params)

,0,1,2,3,4,5,6,7,8,9,10
0,2023001189828,2023-12-20,15:30,16:00,12/12/2023 09:33:24,CANCELA_PACIENTE,DR. RICARDO MARIO ANDREU RUIZ,A,NEFROLOGIA,TLALPAN,LOURDES MENDOZA MIRANDA
1,2023001189828,2023-12-20,15:30,16:00,19/12/2023 10:52:26,CANCELA_PACIENTE,DR. RICARDO MARIO ANDREU RUIZ,A,NEFROLOGIA,TLALPAN,LOURDES MENDOZA MIRANDA
2,2023001189829,2023-12-20,16:00,16:30,20/12/2023 11:59:30,COMPLETADA,DR. RICARDO MARIO ANDREU RUIZ,A,NEFROLOGIA,TLALPAN,JOSE LUIS QUIÑONES
3,2023001189829,2023-12-20,16:00,16:30,20/12/2023 11:59:30,COMPLETADA,DR. RICARDO MARIO ANDREU RUIZ,A,NEFROLOGIA,TLALPAN,JOSE LUIS QUIÑONES
4,2023001189829,2023-12-20,16:00,16:30,20/12/2023 15:44:35,COMPLETADA,DR. RICARDO MARIO ANDREU RUIZ,A,NEFROLOGIA,TLALPAN,JOSE LUIS QUIÑONES
...,...,...,...,...,...,...,...,...,...,...,...
4452,2023001345343,2023-12-20,12:30,13:00,15/12/2023 16:46:38,COMPLETADA,DRA Perla Lourdes Díaz Aguirre,A,ANGIOLOGIA,BASILICA,SERGIO DIAZ MICHELL
4453,2023001345343,2023-12-20,12:30,13:00,18/12/2023 18:45:50,COMPLETADA,DRA Perla Lourdes Díaz Aguirre,A,ANGIOLOGIA,BASILICA,SERGIO DIAZ MICHELL
4454,2023001345343,2023-12-20,12:30,13:00,20/12/2023 11:51:56,COMPLETADA,DRA Perla Lourdes Díaz Aguirre,A,ANGIOLOGIA,BASILICA,SERGIO DIAZ MICHELL
4455,2023001345343,2023-12-20,12:30,13:00,20/12/2023 12:08:26,COMPLETADA,DRA Perla Lourdes Díaz Aguirre,A,ANGIOLOGIA,BASILICA,SERGIO DIAZ MICHELL
4456,2023001345343,2023-12-20,12:30,13:00,20/12/2023 12:38:42,COMPLETADA,DRA Perla Lourdes Díaz Aguirre,A,ANGIOLOGIA,BASILICA,SERGIO DIAZ MICHELL